#msg {
    text-align: center;
    font-size:14px;
}
.heading {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: beige;
}


.title {
    text-align: center;
}

#Calendar {
    width: 95%;
    margin: auto;
}

.calendar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.row {
    display: flex;
    justify-content: center;
}

.unit {
    width: 14%;
}
.day {
    width: 14%;
}

p {
    font-size: 11px;
}
.assignment {
    font-size: 13px;
}
.today {
    background-color: lightgray;
}

.to-do {
    color: red;
}
.done {
    color: green;
}
#completed {
    color: green;
}
#unfinished {
    color: red;
}
#delete {
    color: black;
}

#bottom {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: space-around;
}
