{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-info" role="alert">
                <p id = "msg">{{msg}}</p>
              </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2 class= "title">Welcome back, Todd!</h2>
    <br>
    <div class = "card" id = "Calendar">
        <div class = 'card-body'>
            <div class = 'heading'>
                <h5 class="card-title">{{month}}</h5>
                    <form action="#" method = "POST">
                        <button name="button", value="-1", type="submit" class="btn btn-primary">Previous Month</button>
                        <button name="button", value="1", type="submit" class="btn btn-primary">Next month</button>
                    </form>
            </div>
            <br>
            <div class = 'calendar-wrapper'>
                <div class="row days">
                    <div class="day">Monday</div>
                    <div class="day">Tuesday</div>
                    <div class="day">Wednesday</div>
                    <div class="day">Thursday</div>
                    <div class="day">Friday</div>
                    <div class="day">Saturday</div>
                    <div class="day">Sunday</div>
                </div>
                <form action="#" method = "POST">
                {% for week in range(6) %}
                <div class="row">
                    {% for i in range(7) %}
                        <div class="card unit">
                            {% if today + gap == i + week * 7 %}
                            <div class= "card-body date today">
                                {% for date in datelist %}
                                    {% if date[1] + gap == i + week * 7 %}
                                    <p>{{date[0]}}</p>
                                    {% endif %}
                                {% endfor %}
                                {% for assign in assignmentlist %}
                                    {% if assign.duedate.day + gap == i + week * 7 and assign.duedate.month == todaymonth %}
                                    <p></p>
                                        {% if assign.status ==1 %}
                                        <div class='card assignment to-do today'>
                                            {{assign.course}}: {{assign.name}} is due
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name={{assign._id}} value=2 id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1" id = 'completed'>
                                                  Done
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name={{assign._id}} value=3 id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1" id = 'delete'>
                                                  Delete
                                                </label>
                                            </div>
                                              
                                        </div>
                                        {% elif assign.status == 2 %}
                                        <div class='card assignment done today'>
                                            {{assign.course}}: {{assign.name}} is completed
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name={{assign._id}} value=1 id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1" id = 'unfinished'>
                                                  To-do
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name={{assign._id}} value=3 id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1" id = 'delete'>
                                                  Delete
                                                </label>
                                            </div>
                                        </div>                                        
                                        {% elif assign.status == 0 %}
                                        <div class='card assignment not-to-do'>
                                            {{assign.course}}: {{assign.name}}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name={{assign._id}} value=3 id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1" id = 'delete'>
                                                  Delete
                                                </label>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                
                            </div>
                                  
                            {% else %}
                                <div class= "card-body date">
                                {% for date in datelist %}
                                    {% if date[1] + gap == i + week * 7 %}
                                    <p>{{date[0]}}</p>
                                    {% endif %}
                                {% endfor %}
                                {% for assign in assignmentlist %}
                                    {% if assign.duedate.day + gap == i + week * 7 and assign.duedate.month == todaymonth %}
                                    <p></p>
                                        {% if assign.status ==1 %}
                                        <div class='card assignment to-do'>
                                            {{assign.course}}: {{assign.name}} is due
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name={{assign._id}} value=2 id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1" id = 'completed'>
                                                  Done
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name={{assign._id}} value=3 id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1" id = 'delete'>
                                                  Delete
                                                </label>
                                            </div>
                                              
                                        </div>
                                        {% elif assign.status == 2 %}
                                        <div class='card assignment done'>
                                            {{assign.course}}: {{assign.name}} is completed
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name={{assign._id}} value=1 id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1" id = 'unfinished'>
                                                  To-do
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name={{assign._id}} value=3 id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1" id = 'delete'>
                                                  Delete
                                                </label>
                                            </div>
                                        </div>                                        
                                        {% elif assign.status == 0 %}
                                        <div class='card assignment not-to-do'>
                                            {{assign.course}}: {{assign.name}}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name={{assign._id}} value=3 id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1" id = 'delete'>
                                                  Delete
                                                </label>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                
                            </div>
                            {% endif %} 
                                
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <br>
                <div id = 'bottom'>
                    <button type="submit" class="btn btn-primary">Submit changes</button>
                    <a href="/add", id = 'add'>Add an assignment</a>
                </div>
                </form>                
                <br>
                <h5>Urgent Assignments:</h5>
                <br>
                {% for assign in assignmentlist %}
                {% if assign.status == 1 %}
                    <div class = "card">
                        <div class = "card-body">
                            {{assign.course}}: {{assign.name}} is due on {{assign.duedate}}
                        </div>
                    </div>
                    <br>
                {% endif %}
                {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}